<div class="logo"></div>
<button data-target="schedule" data-click-name="menu"><i class="far fa-list-alt"></i> Program</button>
<button data-target="users" data-click-name="menu"><i class="fa fa-users"></i>Előadók</button>
<button data-target="abstracts" data-click-name="external" data-click-url="http://www.mrt2018pecs.hu/upload/MRT_2018_ABSZTRAKT.pdf"><i class="far fa-images"></i>Absztraktok</button>
<button data-target="sponsors" data-click-name="menu"><i class="far fa-thumbs-up"></i>Szponzoraink</button>
<button data-target="programs" data-click-name="menu"><i class="fa fa-wine-glass"></i>Egyéb programok</button>
<button data-target="rsna" data-click-name="menu"><i class="fab fa-app-store-ios"></i>RSNA Live</button>
<button data-target="organizers" data-click-name="menu"><i class="fa fa-user-ninja"></i>Szervezők</button>
<button data-target="science" data-click-name="menu"><i class="fa fa-user-tie"></i>Tudományos bizottság</button>