<h1>Szervező bizottság</h1>
Elnök: Prof. dr. Bogner Péter<br>
Hajduné Udvarácz Veronika<br>
Dr. Kiefer Éva<br>
Kiefer Zoltán<br>
Kittkáné Bódi Katalin<br>
Dr. Olajos Eszter<br>
Pataki Beatrix<br>
Tensi Aviation Kft.<br>
Dr. Weninger Csaba<br>
Zöldi Péter<br>