<center>
	Az RSNA Live rendszer biztosítja a 06.23. szombaton 12:50-14:00 között a CHOLNOKY (1) Teremben megrendezésre kerülő
	Kvíz megoldását.<br>
	A Kvíz támogatója:<br>
	Siemens Healthiness<br>
	<a href="#" data-click-name="external" data-click-url="https://live.rsna.org/">Játéktér</a><br>
	<a href="#" data-click-name="external" data-click-url="http://www.mrt2018pecs.hu/upload/RSNA_LIVE.pdf">Részletes
		információk</a>
</center>