<h1>Tudományos bizottság</h1>
Prof. dr. Bogner Péter<br>
Dr. Battyáni István<br>
Dr. Rostás Tamás<br>
Prof. dr. Berényi Ervin<br>
Dr. Bágyi Péter<br>
Prof. dr. Bérczi Viktor<br>
Prof. dr. Gődény Mária<br>
Prof. dr. Szikora István<br>
Prof. dr. Barsi Péter<br>
Prof. dr. Palkó András<br>
Dr. Járay Ákos<br>
Dr. Hetényi Szabolcs<br>
Dr. Forrai Gábor<br>
Dr. Tárnoki Dávid<br>
Dr. Tárnoki Ádám<br>