<h1>Kiemelt szponzor</h1>
GE Healthcare<br>

<h1>Főszponzorok</h1>
Astromedic<br>
Bayer Hungária<br>
Boehringer Ingelheim<br>
Cook Medical Hungary<br>
Ewopharma (Bracco)<br>
Forex Medical<br>
Hitachi Medical Systems<br>
Radizone Diagnost-X<br>
Siemens Healthineers<br>

<h1>Szponzorok</h1>
Affidea Magyarország<br>
BELUX Csoport<br>
Biometica+MIDES<br>
Bluemed<br>
Doktor24<br>
EIZO Austria<br>
Euromedic Pharma<br>
FIBRE Medical<br>
ICONOMIX<br>
Képdoktor<br>
Kheiron Medical Technologies<br>
Medimat<br>
Medipixel (Samsung)<br>
Országos Teleradiológiai Rendszer<br>
Novelmedix<br>
Pécsi Diagnosztikai Központ<br>
Pécsi Tudományegyetem Általános Orvostudományi Kar<br>
Premed Pharma<br>
Premied G-Med<br>
RADITEC<br>
Sonarmed (Samsung)<br>
SW-IT<br>
TARASCO<br>
Telemedicine Clinic – Barcelona<br>
T&amp;G Health<br>