div[data-screen=index] {
	div.logo {
		background-image: url("../img/logo.jpg");
		height: calc(~"( 100% / 5 ) - 12px");
		background-size: cover;
		margin: 10px 10px 0;
		box-shadow:         0px 11px 10px -6px rgba(0, 0, 0, 0.75);
	}
	button {
		background-color: #666677;
		box-shadow:         0px 11px 10px -6px rgba(0, 0, 0, 0.75);
		width: calc(~"50% - 15px");
		display: block;
		float: left;
		height: calc(~"( 100% / 5 ) - 12px");
		margin: 10px 0 0 10px;
		border: 0;
		color: white;
		font-size: 14px;
		font-weight: 300;
		text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
		i {
			display: block;
			color:white;
			font-size:24px;
			margin-bottom:8px;
		}
	}
}