div[data-screen=users] {
	div.user{
		margin: 10px 10px;
		padding: 10px 10px;
		font-size: 14px;
		background-color: #2b91b9;
		box-shadow: 0px 11px 10px -6px rgba(0, 0, 0, 0.75);
		color:white;
		font-weight: 600;
		*{
			color:white;
		}
	}
	div.presentation {
		background-color: #666677;
		margin: 10px 10px 10px 30px;
		padding: 10px 10px;
		color: white;
		font-size: 12px;
		color: #ccc;
		text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
		box-shadow: 0px 11px 10px -6px rgba(0, 0, 0, 0.75);
		position: relative;
		i {
			position: absolute;
			color: gold;
			top: 15px;
		}
		.from {
			font-size: 12px;
			font-weight: 300;
			color: white;
		}
		.title {
			color: white;
			font-weight: 600;
			font-size: 14px;

			padding-bottom: 5px;
			margin-bottom: 5px;
			border-bottom: 1px dotted #888;
		}

		.authors {
			font-size: 12px;
			color: white;
			color:#ccc;
		}
	}
}