[data-screen] {
	background: linear-gradient(180deg, rgb(33, 33, 44) 0%, rgb(66, 66, 77) 100%);
	color:white;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: none;
	background-color: white;
	transition: all .4s;
	&.active {
		display: block;
	}
	header {
		position: absolute;
		top: 0;
		left: 0;
		height: 40px;
		width: 100%;
		background-color: #dd4b39;
		box-shadow: 0px -20px 16px 19px rgba(0, 0, 0, 1);
		.left, .right, .title {
			line-height: 40px;
			color: white;
			position: relative;
		}
		.left, .right{
			z-index: 2;
			font-size:14px;
			padding:0 10px;
			*{color:white;}
		}
		.left {
			float: left;
		}
		.right {
			float: right;
		}
		.title {
			font-size:20px;
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			text-align: center;
		}
	}
	article {
		overflow: scroll;
		position: absolute;
		top: 40px;
		left: 0;
		height: calc(~"100% - 40px");;
		width: 100%;
	}
}