div[data-screen=section], div[data-screen=favourites] {
	.date {
		margin-top: 10px;
		text-align: center;
		color: white;
	}
	.time-location {
		text-align: center;

		.time, .location {
			font-size: 12px;
			color: white;
		}
	}
	.section-title {
		color: #dd4b39;
		font-weight: 600;
		text-align: center;
		padding: 0 20px;
	}
	div.presentations > div {
		background-color: #666677;
		margin: 10px 10px;
		padding: 10px 10px;
		color: white;
		font-size: 12px;
		color: #ccc;
		text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
		box-shadow: 0px 11px 10px -6px rgba(0, 0, 0, 0.75);
		position: relative;
		i {
			position: absolute;
			color: gold;
			top: 15px;
		}
		.title {
			color: white;
			font-weight: 600;
			font-size: 14px;
			.from {
				font-size: 12px;
				font-weight: 300;
				color: white;
			}
			margin-left: 20px;
			padding-bottom: 5px;
			margin-bottom: 5px;
			border-bottom: 1px dotted #888;
		}

		.authors {
			font-size: 12px;
			color: white;
			padding-left: 20px;
			color:#ccc;
		}
		.room {
			border-top: 1px dotted #888;

			font-size: 12px;
			color: white;
			margin-left: 20px;
			color:#ccc;
		}
	}
}