@import "font-awesome/less/fontawesome";
@import "font-awesome/less/fa-regular";
@import "font-awesome/less/fa-solid";
@import "font-awesome/less/fa-brands";
@import "screen";
@import "screen-index";
@import "screen-schedule";
@import "screen-section";
@import "screen-users";
@import "screen-sponsors";
@import "screen-programs";
@import "screen-abstracts";
@import "titillium";


* {
	box-sizing: border-box;
	font-family: "Titillium Web";
	-webkit-font-smoothing: antialiased;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body, html {
	height: 100%;
}

html {
	width: 100%;
	overflow: hidden;
	touch-action: manipulation;
}

body {
	background-color: red;
	padding: 0;
	overflow: auto;
	margin: 0;
	-webkit-overflow-scrolling: touch;
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;

}
