div[data-screen=schedule] div.day-bar{text-align:center;padding:10px 0;font-weight:bold;color:#333}
div[data-screen=schedule] div.section-bar{padding:10px 0;text-align:center;background:linear-gradient(to bottom,#1e5799 0,#2989d8 50%,#207cca 51%,#7db9e8 100%);font-size:14px;background-color:skyblue;color:white;text-shadow:0 0 4px rgba(0,0,0,0.45)}
div[data-screen=schedule] div.section-bar h1{margin:0;font-size:16px;color:white;padding-top:15px}
div[data-screen=schedule] div.event-bar{padding:10px 0;text-align:center;border-bottom:1px solid #fff;border-top:1px solid #fff;font-size:14px;background-color:sandybrown}