div[data-screen=abstracts] article{position:fixed;right:0;bottom:0;left:0;height:auto;-webkit-overflow-scrolling:touch;overflow:auto}
div[data-screen=abstracts] iframe{height:100%;width:100%;border:0}