div[data-screen=section] .date,div[data-screen=favourites] .date{margin-top:10px;text-align:center;color:white}
div[data-screen=section] .time-location,div[data-screen=favourites] .time-location{text-align:center}
div[data-screen=section] .time-location .time,div[data-screen=favourites] .time-location .time,div[data-screen=section] .time-location .location,div[data-screen=favourites] .time-location .location{font-size:12px;color:white}
div[data-screen=section] .section-title,div[data-screen=favourites] .section-title{color:#dd4b39;font-weight:600;text-align:center;padding:0 20px}
div[data-screen=section] div.presentations>div,div[data-screen=favourites] div.presentations>div{background-color:#667;margin:10px 10px;padding:10px 10px;color:white;font-size:12px;color:#ccc;text-shadow:0 0 4px rgba(0,0,0,0.45);box-shadow:0 11px 10px -6px rgba(0,0,0,0.75);position:relative}
div[data-screen=section] div.presentations>div i,div[data-screen=favourites] div.presentations>div i{position:absolute;color:gold;top:15px}
div[data-screen=section] div.presentations>div .title,div[data-screen=favourites] div.presentations>div .title{color:white;font-weight:600;font-size:14px;margin-left:20px;padding-bottom:5px;margin-bottom:5px;border-bottom:1px dotted #888}
div[data-screen=section] div.presentations>div .title .from,div[data-screen=favourites] div.presentations>div .title .from{font-size:12px;font-weight:300;color:white}
div[data-screen=section] div.presentations>div .authors,div[data-screen=favourites] div.presentations>div .authors{font-size:12px;color:white;padding-left:20px;color:#ccc}
div[data-screen=section] div.presentations>div .room,div[data-screen=favourites] div.presentations>div .room{border-top:1px dotted #888;font-size:12px;color:white;margin-left:20px;color:#ccc}