[data-screen]{background:linear-gradient(180deg,#21212c 0,#42424d 100%);color:white;position:absolute;top:0;height:100%;width:100%;display:none;background-color:white;transition:all .4s}
[data-screen].active{display:block}[data-screen] header{position:absolute;top:0;left:0;height:40px;width:100%;background-color:#dd4b39;box-shadow:0 -20px 16px 19px #000}
[data-screen] header .left,[data-screen] header .right,[data-screen] header .title{line-height:40px;color:white;position:relative}
[data-screen] header .left,[data-screen] header .right{z-index:2;font-size:14px;padding:0 10px}
[data-screen] header .left *,[data-screen] header .right *{color:white}[data-screen] header .left{float:left}
[data-screen] header .right{float:right}[data-screen] header .title{font-size:20px;z-index:1;position:absolute;top:0;left:0;width:100%;text-align:center}
[data-screen] article{overflow:scroll;position:absolute;top:40px;left:0;height:calc(100% - 40px);width:100%}