div[data-screen=schedule] div.day-bar{text-align:center;padding:20px 0 10px;font-weight:bold;color:#dd4b39}
div[data-screen=schedule] div.day-bar:not(:first-child){margin-top:10px;box-shadow:0 -8px 10px -6px rgba(0,0,0,0.75),inset 0 14px 50px -6px rgba(255,255,255,0.12)}
div[data-screen=schedule] div.section-bar{background-color:#667;margin:10px 10px;padding:10px 0;text-align:center;font-size:12px;color:#ccc;text-shadow:0 0 4px rgba(0,0,0,0.45);box-shadow:0 11px 10px -6px rgba(0,0,0,0.75)}
div[data-screen=schedule] div.section-bar h1{margin:0;font-size:16px;color:white}
div[data-screen=schedule] div.event-bar{margin:10px 10px;padding:10px 0;text-align:center;font-size:14px;background-color:#2b91b9;color:#a5ebff;box-shadow:0 11px 10px -6px rgba(0,0,0,0.75)}