div[data-screen=sections] div.day-bar{text-align:center;padding:10px 0;border-bottom:1px solid #ddd}
div[data-screen=sections] div.section-bar{padding:10px 0;text-align:center;border-bottom:1px solid #ddd;font-size:14px;background-color:skyblue}
div[data-screen=sections] div.section-bar h1{margin:0;font-size:16px}div[data-screen=sections] div.event-bar{padding:10px 0;text-align:center;border-bottom:1px solid #ddd;font-size:14px;background-color:sandybrown}